.fondo{
  padding: 15px;
}
.encabezado{
  text-align: center;
}
.cuerpo{
  width: 100%;
}
.div-botones{
  width: 100%;
}
.space{
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;

}
.etiqueta{
  width: 35%;
}
.form-control
{
  background-color: white;
  margin-top: 5px;
  margin-left: 5%;
  width: 90%;
}
.input{
  border: 0;
  outline: none;
  width:65%;
}
