.data {
  border-radius: 5px;
  background-color: white;
  width: 75%;
}
.div-data {
  padding: 10px;
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.color-blue {
  color: blue;
}
.float{
  float:right;
}
